/*
 * Not a userstyle but it sure improves zotero.
 * Use it in the Advanced Preferences section
 *
 * extension.note.zotero.css
*/
body { max-width: 780px; margin: auto; padding: 20px } p, h1, h2, h3, h4, li {  padding: 2px 5px 2px 4px !important;  font-family: "PT Sans" !important;  border-radius: 3px; } h1 {  background-color: #ccf; } h2 {  background-color: #eef; } h3 {  background-color: #cfc; } h4 {  padding-left: 14px !important;  background-color: #dfd;  font-size: small; } h5 {  border-bottom: 1px solid #ccc;  font-size: small;  font-variant: small-caps; } blockquote {  background-color: #eee;  border-radius: 3px;  margin: 0;  padding: 1px 7%; } p, li {  font-size: 16px !important; } p:hover, li:hover {  background-color: f0f0f0; } blockquote p:hover, blockquote:hover {  background-color: #ccc }
